body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./img/Back.png'),
    url('./img/ruido.png'),
    linear-gradient(50deg,#616161,#000);
    background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.bgheader {
  background: linear-gradient(180deg, #000000 80.22%, #F51414 100%);
}

nav {
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  background-color: #000;
  color: #fa0000;

}

.btn:hover {
  background-color: #fa0000;
  color: #000;
}

/* Perfil */
#img_basic {
  padding-bottom: 10px;
}

/* Profile */
#profile {
  margin-top: 50px;
}

.img_logo {
  width: 100%;
}

.img_profile {
  padding-top: 0.5rem;
}

/* Portfolio */

#portfolio {
  margin-top: 50px;
}


#card_port {
  border: 2px solid #fff;
}

#card_port img {
  width: 100%;
  margin-left: 0;
}

#card_port img:hover {
  width: 90%;
  margin-left: 5%;
}

/* Contatos */

#card_contatos {
  margin: 0 20px 20px 20px;
}


.icon_git {
  font-size: 96px;
  margin-right: 10px;
  color: #000;
}

.icon_git:hover {
  color: #fa0000;
}

.icon_linkedin {
  font-size: 96px;
  color: blue;
}

.icon_linkedin:hover {
  color: #fa0000;
}

.icon_whatsapp {
  font-size: 80px;
  color: green;
}






