/* Header */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 60px;
  }
  
  #header_row {
    margin-bottom: 0;
  }
  
  .bgheader {
    background: linear-gradient(180deg, #000000 80.22%, #F51414 100%);
    opacity: 0.8;
  }
  
  #btn_menu {
    padding: 5px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
  }
  
  #menu_hide, #menu_show {
    padding-bottom: 15px;
  }
  
  #menu_show {
    display: block;
  }
  
  #div_btnmenu {
    display: none;
  }
  
  #ul_btn {
    display: flex;
    flex-direction: row;
  }
  
  
  .btn {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
  }
  
  .btn:hover {
    background-color: #fa0000;
    color: #000;
  }
  
  #btn_bar.fa-chevron-circle-down {
    color: #F51414;
  }
  
  #btn_bar.fa-minus-circle {
    color: #fff;
  }
  
  
  @media (max-width: 992px) {
    #div_btnmenu {
      display: block;
    }
  
    #menu_hide {
      display: none;
      transition: all .4s;
    }
  
    .btn_select {
      color: #F51414;
    }
  }
  
  @media (max-width: 447px) {
    #ul_btn {
      flex-direction: column;
      padding-bottom: 15px;
    }
  }